/* YourCardComponent.css */
.card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    padding: 20px;
    border: 1px solid #2a4bce;
    border-radius: 10px;
    /* transition: transform 0.3s; */
    cursor: pointer;
    background-color: #272424; 
    color: rgb(254, 255, 255);
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(5, 59, 237, 0.523); /* Add a subtle box shadow on hover */
  border-color: #0b7cf5;
  }
  
  .card p {
    margin: 10;
  }
  